* {
  padding: 0;
}

body {
  background-color: rgb(224, 142, 115);
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown,
.orderBtn,
#btn {
  margin: 7px;
}

.orderBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#pizzaType,
#pizzaQuantity,
#btn {
  color: antiquewhite;
  background-color: rgb(173, 93, 40);
  border-radius: 3px;
  border: none;
  padding: 4px;
}

#pizzaQuantity {
  border: none;
}

#orderResponse,
h1,
h3,
h4 {
  text-align: center;
}

#orderResponse {
  font-size: 1.1rem;
}

@media (min-width: 700px) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}
